{% extends "layout.html" %}

{% block content %}

    <section id="about_us_section">

      <h2>About Us</h2>
      <p>Bookmi is a social book trading website, to allow <strong>YOU</strong>
        to exchange books with other users. As an avid reader, Bookmi's creators
        realize that they possess so many books that they either didn’t
        finish or never intended to read again, and would to get rid of.
        What if you could exchange those books for books you've always wanted to read?
        And so Bookmi was born!</p>

      <p> In order to help users figure out which books they want to read,
        our site implements a database of books, providing summaries and
        recommendations, as well as allowing users to review and rate books.
        This way, readers do not have to leave our site to figure out which
        books they want to read. Furthermore, users can rate the experience they
        had exchanging books with other users, guaranteeing that if some user
        is not holding up their end of the deal, they receive a bad review and
        are not trusted for exchanges again. Readers can follow their friends,
        their favourite reviewers, and the best swappers to keep up to date about
        reviews, additions to lists, and available swaps. </p>

      <p>Bookmi is unlike any other website because it is dedicated to allowing
        readers to efficiently exchange books while remaining social about the
        books they have read and the books they want to read next. The very
        few existing book swapping websites do not have a complex book and user
        review system like ours, and thus are not very social network oriented.</p>

    </section>

{% endblock %}
